<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="base (title='QQ邮箱')">

<style th:fragment="style">
    .indexCard {
        width: 350px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -180px 0 0 -175px;
    }
</style>

<div th:fragment="content">
    <div class="card indexCard">
        <div class="card-header">QQ邮箱</div>
        <div class="card-body">
            <p th:if="${mailToken}" th:text="${mailToken}" class="alert alert-success"></p>
            <p th:if="${error}" th:text="${error}" class="alert alert-danger"></p>
        </div>
    </div>
</div>
</html>